shapely
scikit-image
imgaug==0.4.0
pyclipper
lmdb
tqdm
numpy
visualdl
python-Levenshtein
opencv-contrib-python==4.4.0.46
cython
lxml
premailer
openpyxl
attrdict
termcolor==2.0.1
threadpoolctl==3.1.0
tldextract==3.4.0
tqdm==4.64.1
traceback2==1.4.0
typing-extensions==4.4.0
urllib3==1.26.12
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.9.0
fastapi==0.85.0
fastapi-socketio==0.0.9
uvicorn==0.18.3
uvicorn[standard]
python-socketio==5.0.4
aiohttp==3.8.3

